.partList {
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	height: 80vh;
	img {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		background: transparent;
	}
	&__heading {
		margin: 20px;
	}
	&__tableHeading {
		font-size: 24px;
		font-weight: 600;
		padding: 5px 0;
	}

	&__table {
		border-spacing: 0px;
	}
}
