nav {
	height: 10%;
	display: grid;
	border-bottom: 1.5px solid black;
	// box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
	background-color: aquamarine;
}

.navWrapper {
	display: grid;
	grid-template-columns: auto auto auto auto 1fr;
	margin: auto;
	padding: 5px;
	text-align: center;
	a {
		margin: auto;
		padding: 10%;
		color: black;
		text-decoration: none;
		font-weight: 600;
		font-size: 20px;
	}
	a:hover {
		color: var(--nav-main-color);
		background-color: var(--light-gray-background);

		cursor: pointer;
		transition: color 0.25s cubic-bezier(0.05, 0, 0, 1);
		transition: background-color 0.25s cubic-bezier(0.05, 0, 0, 1);
	}
}
nav img {
	max-height: 80px;
	width: 70%;
}

/* .navWrapper a.selected {
	background-color: rgba(135, 177, 214, 0.91);
}
.navWrapper a.selected:hover {
	background-color: rgb(135, 177, 214);
	transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
} */
