.landingPage {
	--light-green: rgb(90, 149, 90);
	--medium-green: rgb(53, 90, 53);
	background-color: var(--dark-gray-background);
	color: white;
	&__greeting {
		font-weight: 700;
		font-size: 36px;
		text-align: center;
		padding: 30px 0;
	}
	&__build {
		height: 50vh;
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
		padding: 50px 20%;
		background-image: url("https://i.ytimg.com/vi/E3aUukZRWJk/maxresdefault.jpg");
	}
	&__products {
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
		height: 50vh;
		background-color: var(--light-gray-background);
		padding: 50px 20%;
	}
	&__guides {
		height: 50vh;
		padding: 50px 20%;
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
		color: white;
	}
	&__popularBuilds {
		height: 50vh;
		padding: 50px 20%;
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 6px 0 rgb(0, 0, 0);
	}
	&__recentBuilds {
		height: auto;
		padding: 50px 20%;
		background-color: var(--light-gray-background);
		box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
		// max-width: 500px;
	}
	&__title {
		font-size: 36px;
		font-weight: 700;
		margin: 10px;
	}
	&__description {
		font-weight: 500;
		font-size: 20px;
		margin: 20px 10px;
	}
	&__button {
		margin: 10px;
		font-size: 24px;
		padding: 5px 0;
	}
	&__link {
		border: #6b6b6b solid 2px;
		border-radius: 5px;
		background-color: var(--nav-main-color);
		padding: 5px;
	}
	&__link:hover {
		background-color: var(--light-gray-background);
		color: var(--nav-main-color);
		transition: background-color 0.2s ease 0s, color 0.2s ease 0s, text-decoration 0.2s ease 0s;
	}
	&__image {
		border-radius: 15px;
		max-width: 50%;
		max-height: 30vh;
		min-height: 25px;
	}
	&__lastThreeBuilds {
		display: grid;
		overflow-x: scroll;
		grid-template-columns: repeat(3, 1fr);
	}
}
