button {
	border-radius: 6px;
	border: #282c34 solid 1px;
}
.icon-and-title {
	display: grid;
	grid-template-columns: 40px 1fr;
	margin: 10px;
}
.icon-and-title img {
	max-width: 40px;
}
table {
	width: 100%;
}
td {
	text-align: center;
	border-top: 2px solid rgb(0, 0, 0);
}
a.add {
	padding: 5px;
}
.single-keyswitch img,
.single-keycap img,
.single-keyboard img {
	max-width: 40px;
}
form {
	padding: 10px;
	text-align: center;
}
form input {
	margin: 10px;
}
