:root {
	--main-bg-color: #f3f2f8;
	--highlight-color: #ff8585;
	--secondary-color: #c5a030;
	--divider-color: #dadce0;
	--text-color: #000000;
	--nav-main-color: #7fffd4;
	--light-gray-background: #717171;
	--dark-gray-background: #4b4a4a;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
button {
	border-radius: 6px;
	border: #282c34 solid 1px;
}
.icon-and-title {
	display: grid;
	grid-template-columns: 40px 1fr;
	margin: 10px;
}
.icon-and-title img {
	max-width: 40px;
}
table {
	width: 100%;
	border-spacing: 0px;
}
td {
	border-top: 1px solid black;
	padding: 10px;
}
a.add {
	padding: 5px;
}
.single-keyswitch img,
.single-keycap img,
.single-keyboard img {
	max-width: 40px;
}
form {
	padding: 10px;
	text-align: center;
}
form input {
	margin: 10px;
}
